@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
/* ========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background: url('../img/background.jpg') no-repeat center center fixed;
    filter: blur(0.5px);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 7%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #eceff1;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.header-content {
    max-width: 1200px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.icon {
    border-radius: 50px;
}

.logo img {
    width: 60px;
    height: 35px;
    align-items: start;
    padding-top: 10px;
    margin-top: 20px;
    height: 20%;
    border-radius: 8px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-left: 20px;

}

.header-nav ul {
    text-align: center;
    align-items: center;
    padding-top: 5px;
    list-style-type: none;
    display: flex;
    font-weight: 600;
    font-size: Bold;
    font-family: Arial, Helvetica, sans-serif;
}

.header-nav ul li {
    margin: 0 10px;
}

.header-nav ul li a {
    color: #212121;;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.header-nav ul li a:hover {
    opacity: 0.8;
    color: #212121;
    border-radius: 5px;
}

.member-action {
    margin-top: 10px;
    margin-left: 30px;

}

/* Login button*/
.btn-login {
    height: 40px;
    width: 100px;
    background-color: #20331a;
    color: #eceff1;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    opacity: 0.8;
}

.btn-register {
    height: 40px;
    width: 100px;
    background-color: #20331a;
    color: #eceff1;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    opacity: 0.8;
}


/* H1 */
.container {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.container p {
    padding: 10px 0;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: semi-bold;
    font-size: 20px;
}